<div class="window" id="about">
  <div class="title-bar">
    <span class="left white">About</span>
    <div class="right inline windowCtrls">
      <div class="inline glyph glyph-min"></div>
      <div class="inline glyph glyph-max"></div>
      <div class="inline glyph glyph-close"></div>
    </div>
  </div>
  <div class="white-bg p-1">
    <h1 class="m-0">Hey! I'm Vany</h1>
    <p class="m-0 mt-05">
      I'm a rails developer that's passionate about
      sustainability. I love helping out with various environmentalist groups
      in my city doing this such as picking up litter, sorting through used
      shipping materials for redistribution, planting native plants in a public
      garden, and helping maintain a group's Squarespace website. Outside of
      work and volunteering, I love to play music (guitar, ukulele, harmonic,
      and singing), tending to my many plants, cooking, crafting, going on deep
      google dives, foraging, and going to concerts!
    </p>
  </div>
</div>
