<div class="window" id="bookmarks">
	<div class="title-bar">
		<span class="left white">Bookmarks</span>
		<div class="right inline windowCtrls">
			<div class="inline glyph glyph-min"></div>
			<div class="inline glyph glyph-max"></div>
			<div class="inline glyph glyph-close"></div>
		</div>
	</div>
	<div class="white-bg p-05">
		<img src="{{ base.url }}/images/github.png" class="inline" width="12px" height="12px"> <a href="https://github.com/svcastaneda" target="_blank">GitHub</a><br>
		<img src="{{ base.url }}/images/linkedin.png" class="inline" width="12px" height="12px"> <a href="https://linkedin.com/in/svcastaneda" target="_blank">LinkedIn</a><br>
		<img src="{{ base.url }}/images/gmail.png" class="inline" width="12px" height="12px"> <a href="mailto:svcastaneda@gmail.com">svcastaneda@gmail.com</a>
	</div>
</div>