<div class="left inline links m-1">
	<div class="icon mb-1" name="about">
		<img src="{{ base.url }}/images/notebook.png" class="center block" width="48px" height="48px">
		<p class="m-0 mt-05">About</p>
	</div>
	<div class="icon mb-1" name="resume">
		<img src="{{ base.url }}/images/mini-me.png" class="center block" width="48px" height="48px">
		<p class="m-0 mt-05">Resume</p>
	</div>
	<div class="icon mb-1" name="bookmarks">
		<img src="{{ base.url }}/images/bookmark.png" class="center block" width="48px" height="48px">
		<p class="m-0 mt-05">Bookmarks</p>
	</div>
	<div class="icon mb-1" name="shitbot">
		<img src="{{ base.url }}/images/shitbot.png" class="center block" width="48px" height="48px">
		<p class="m-0 mt-05">ShitBot</p>
	</div>
	<div class="icon mb-1" name="mixtape">
		<img src="{{ base.url }}/images/mixtape.png" class="center block" width="48px" height="48px">
		<p class="m-0 mt-05">Mixtape</p>
	</div>
</div>
