<div class="window" id="resume">
	<div class="title-bar">
		<span class="left white">Resume</span>
		<div class="right inline windowCtrls">
			<div class="inline glyph glyph-min"></div>
			<div class="inline glyph glyph-max"></div>
			<div class="inline glyph glyph-close"></div>
		</div>
	</div>
	<div id="resumeBody">
		<section>
			<h3>Tech Skillz</h3>
			{% for skill in site.data.skills %}
			<pill>{{ skill.name }}</pill>
			{% endfor %}
		</section>
		<hr>
		<section>
			<h3>XP</h3>
			{% for job in site.data.experiences %}
			<job>
				<p>{{ job.position }}</p>
				<ul>
					{% for item in job.description %}
					<li>{{ item.li }}</li>
					{% endfor %}
				</ul>
			</job>
			{% endfor %}
		</section>
		<hr>
		<section>
			<h3>Bonus Pts</h3>
			{% for achievement in site.data.achievements %}
			<pill>
				{{ achievement.name }} [{{ achievement.year }}]
			</pill>
			{% endfor %}
		</section>
	</div>
</div>