.window {
	background-color: #C1C2BD;
	box-shadow: black 3px 3px 5px;
	display: block;
	z-index: 2;
	position: fixed !important;
  border-top: 2px solid rgba(235, 235, 235, 0.7);
  border-left: 2px solid rgba(235, 235, 235, 0.7);
  border-bottom: 2px solid rgba(169, 169, 169, 0.7);
  border-right: 2px solid rgba(169, 169, 169, 0.7);
}

.title-bar {
	background-color: #007;
	font-size: 12px;
	height: 1.75em;
	padding: 0 3px;
}

.title-bar {
	vertical-align: middle;
	line-height: 1.75em;
}

.windowCtrls { height: 100%; }

.white { color: white; }

.glyph {
  width: 1.25em;
  height: 1.25em;
  background-size: cover;
  margin-top: 0.25em;
}
.glyph:hover { cursor: pointer; }
.glyph-min { background-image: url('{{ site.baseurl }}/images/min.png'); }
.glyph-max { background-image: url('{{ site.baseurl }}/images/max.png'); }
.glyph-close { background-image: url('{{ site.baseurl }}/images/close.png'); }

.minimized {  }

.stdSize {
	height: 20em;
	background-color: white;
	overflow-y: scroll;
  box-sizing: border-box;
}

#help {
	display: none;
	visibility: hidden;
	position: fixed !important;
}

/* #mixtape { left: 700px; top: 125px; } */
#bookmarks { left: 380px; top: 465px; }
#about { left: 220px; top: 50px; width: 25rem; }
#resume { left: 650px; top: 50px; }
/* #shitbot { width: 21em; left: 285px; top: 445px; } */
#help { left: 450px; top: 125px; }
