<div class="window" id="resume">
	<div class="title-bar">
		<span class="left white">Resume</span>
		<div class="right inline windowCtrls">
			<div class="inline glyph glyph-min"></div>
			<div class="inline glyph glyph-max"></div>
			<div class="inline glyph glyph-close"></div>
		</div>
	</div>
	<div id="resumeBody">
		<section>
			<h3>Tech Skillz</h3>
			<pill>HTML</pill>
			<pill>CSS</pill>
			<pill>ruby</pill>
			<pill>python</pill>
			<pill>JS</pill>
			<pill>jQuery</pill>
			<pill>git</pill>
			<pill>java</pill>
			<pill>swift</pill>
			<pill>activerecord</pill>
			<pill>SQL</pill>
			<pill>rails</pill>
			<pill>django</pill>
			<pill>sinatra</pill>
		</section>
		<hr>
		<section>
			<h3>XP</h3>
			<job>
				<p>app eng intern at GitHub</p>
				<ul>
					<li>Improved the current suggester for tagging issues, pull requests, and users to make it faster, predictive, and personalized by implementing frecency (frequency + recency). Created a project doc for others to continue the project.</li>
					<li>Created a <a href="" target="_blank">GitHub Pages site</a> to show what it’s like to intern at GitHub.</li>
				</ul>
			</job>
			<job>
				<p>career prep overlord at DPU CSS</p>
				<ul>
					<li>Help students at DePaul prepare for future careers and internships by leading various workshops such as
preparing for technical interviews, dealing with imposter syndrome, and negotiating salaries.</li>
				</ul>
			</job>
			<job>
				<p>Google student ambassador at DePaul</p>
				<ul>
					<li>Acted as a liaison between Google DePaul University to promote the brand, products, and programs to students.</li>
					<li>Planned and hosted Google related events such as Android Development workshops and internship information sessions on campus by coordinating with different DePaul clubs/organizations and the career center.</li>
				</ul>
			</job>
			<job class="mb-1">
				<p>internet marketing intern at Rise Interactive</p>
				<ul>
					<li>Provided weekly and monthly reports for clients by extracting insight from campaign data.</li>
					<li>Created technical documents to train new hires and PowerPoints to present to clients.</li>
					<li>sed Google Analytics to track date and Google Tag Manager to create custom tags and triggers.</li>
					<li>Individually created a web form with HTML, CSS, and jQuery. Creates custom web analytics audit report.
Questions shown are based on answers given. Cuts time taken to create reports by 75% (1 hr → 15 min).</li>
				</ul>
			</job>
		</section>
		<hr>
		<section>
			<h3>Bonus Pts</h3>
			<pill>
				Anita Borg Institute<br>
				GHC Scholar [2016]
			</pill>
			<pill>
				Dev Bootcamp #YesWeCode<br>
				scholarship recipient [2015]
			</pill>
			<pill>
				Chicago Area Mensa<br>
				Scholarship<br>
				Recipient [2015]
			</pill>
			<pill>
				Team member of the winning group<br>
				for GE’s challenge for best image<br>
				recognition at HackIllinois [2015]
			</pill>
			<pill>
				Adler Planetarium STEM<br>
				SMARTS Scholar [2014]
			</pill>
			<pill>
				NCWIT Aspirations in<br>
				Computing IL Winner [2014]
			</pill>
		</section>
	</div>
</div>