body {
  font-family: Courier, sans-serif;
  background-color: #2E6E6D;
  margin: 0;
}

footer {
  height: 1.5em;
  width: 100%;
  padding: 2px;
  position: fixed;
  bottom: 0;
	z-index: 1000;
  background-color: #A8ADA8;
  border-top: 1px solid lightgrey;
}

.footerbox {
  background-color: #C4C4C4;
	font-size: 1em;
	text-align: center;
  vertical-align: middle;
  padding: 1px 5px;
}

.m-0 { margin: 0; }

.m-1 {  margin: 1em; }

.mr-03 { margin-right: 0.3em; }

.mb-1 { margin-bottom: 1em; }

.mt-05 { margin-top: 0.5em; }

.left { float: left; }

.right { float: right; }

.inline { display: inline-block; }

.block { display: block; }

.center {
  margin-left: auto;
  margin-right: auto;
}

.btn {
  outline: none;
  border-radius: 0px;
  border-top: 2px solid rgba(255, 255, 255, 0.7);
  border-left: 2px solid rgba(255, 255, 255, 0.7);;
  border-bottom: 2px solid rgba(0, 0, 0, 0.7);
  border-right: 2px solid rgba(0, 0, 0, 0.7);
}

.inset, button:active {
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
  border-right: 2px solid rgba(255, 255, 255, 0.5);;
  border-top: 2px solid rgba(0, 0, 0, 0.4);
  border-left: 2px solid rgba(0, 0, 0, 0.4);
}

.line {
  height: 1.4em;
  margin: 0 0.3em;
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  border-right: 1px solid rgba(0, 0, 0, .5);
  border-top: 1px solid rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.link {
  color: black;
  text-decoration: none;
  text-align: center;
  font-size: 12px;
}

#startMenu {
	background-color: rgb(230, 230, 230);
	padding: 0;
	z-index: 100;
	width: 9em;
	height: inherit;
	position: fixed;
	bottom: 0.8em;
  left: 0;
	display: none;
}

.menu-item {
	padding: 0.25em;
	width: 100%;
	height: 2em;
	box-sizing: border-box;
}

.menu-item:hover {
	background-color: #00006F;
	color: white;
	cursor: pointer;
}

hr {
	margin: 0;
}