#shitbot { width: 21em; left: 130px; top: 100px; }

#convo {
	font-size: 12px;
	height: 20em;
	background-color: white;
	overflow-y: scroll;
	padding: .5em;
  box-sizing: border-box;
}

.user { color: blue; }
.bot { color: red; }

.talkin {
	font-size: 10px;
	font-weight: 700;
}

#convo p {
	margin: 0;
	padding: 0.25em 0;
}

#userInput {
	width: 98%;
	height: 5em;
}