<!doctype html>
<html>
{% include head.html %}
<body>
	{% include icons.html %}
	{% include shitbot.html %}
	{% include bookmarks.html %}
	{% include help.html %}
	{% include mixtape.html %}
	{% include resume.html %}
	{% include about.html %}
	{% include menu.html %}
	{% include footer.html %}

	<script src="{{ base.url }}/js/general.js" type="text/javascript" charset="utf-8"></script>
	<script src="{{ base.url }}/js/shitbot.js" type="text/javascript" charset="utf-8"></script>
	<script src="{{ base.url }}/js/window.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>
