<div class="window" id="bookmarks">
	<div class="title-bar">
		<span class="left white">Bookmarks</span>
		<div class="right inline windowCtrls">
			<div class="inline glyph glyph-min"></div>
			<div class="inline glyph glyph-max"></div>
			<div class="inline glyph glyph-close"></div>
		</div>
	</div>
	<div class="white-bg p-05">
		<%= image_tag("github.png", size: "12") %> <a href="https://github.com/svcastaneda" target="_blank">GitHub</a><br>
		<%= image_tag("linkedin.png", size: "12") %> <a href="https://linkedin.com/in/svcastaneda" target="_blank">LinkedIn</a><br>
		<%= image_tag("gmail.png", size: "12") %> <a href="mailto:svcastaneda@gmail.com">svcastaneda@gmail.com</a>
	</div>
</div>