<div class="window" id="help">
	<div class="title-bar">
		<span class="left white">Help</span>
		<div class="right inline windowCtrls">
			<div class="inline glyph glyph-min"></div>
			<div class="inline glyph glyph-max"></div>
			<div class="inline glyph glyph-close"></div>
		</div>
	</div>
	<iframe width="560" height="315" src="https://www.youtube.com/embed/kGYcNcFhctc" frameborder="0" allowfullscreen></iframe>
</div>