<div class="window" id="shitbot">
	<div class="title-bar">
		<span class="left white">ShitBot</span>
		<div class="right inline windowCtrls">
			<div class="inline glyph glyph-min"></div>
			<div class="inline glyph glyph-max"></div>
			<div class="inline glyph glyph-close"></div>
		</div>
	</div>
	<div id="convo"></div>
	<textarea class="block" id="userInput"></textarea>
  <button class="right block btn" id="send">send</button>
</div>